@model ECBDatos.git.DAL.Entities.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar el pais?</h3>
<div>
    <partial name="../Shared/PartialView/_CountryDetails.cshtml" />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline">Regresar</a>
    </form>
</div>
