@model ECBDatos.git.DAL.Entities.Country

<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="CratedDate" class="control-label"></label>
    <input asp-for="CratedDate" class="form-control" />
    <span asp-validation-for="CratedDate" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ModifiedDate" class="control-label"></label>
    <input asp-for="ModifiedDate" class="form-control" />
    <span asp-validation-for="ModifiedDate" class="text-danger"></span>
</div>
